/* ============================================
   GLOBAL ZOOM FIX - APPLIES TO ALL COMPONENTS
============================================ */



/* 6. FIX NAVIGATION */
.main-navigation {
  width: 100vw !important;
  max-width: 100vw !important;
  left: 0 !important;
  right: 0 !important;
  position: fixed !important;
  z-index: 1000 !important;
}

.nav-container {
  width: 100% !important;
  max-width: 100vw !important;
  padding: 0 1rem !important;
}


/* 8. FORCE ALL IMAGES/MEDIA TO BE RESPONSIVE */
img, video, iframe, canvas, svg {
  max-width: 100% !important;
  height: auto !important;
  display: block !important;
}



